.film {
    align-content: left;
    margin: 20px;
    width: 100%;
}

.filmID {
    padding-right: 50px;
    width: 5%;
    justify-content: left;
}

.title {
    padding-right: 50px;
    width: 25%;
    justify-content: left;
}

.category {
    width: 25%;
    padding-right: 50px;
    justify-content: left;
}

.notes {
    width: 45%;
    padding-right: 50px;
    justify-content: left;
}

body {
    background: cadetblue;
    font-family: "Calibri Light";
}