@media screen and (max-device-width: 3860px), (max-device-height: 2140px) {

    /* Defines the general background of the site, as well as font types, margin and alignment of text. */
    body {
        font-family: calibri-light, helvetica, sans-serif;
        background: #6B6054;
        margin: 5%;
        text-align: center;
    }

    /* banner section */
    h1 {
        color: black;
        order: 1;
    }

    #banner {
        order: 1;
        background: #F5E0B7;
        border-bottom-style: outset;
        position: absolute;
        top: 0;
        left: 0;
        color: #474237;
        width: 100%;
        height: 15%;
    }

    .teapot {
        position: absolute;
        left: 10px;
        top: 10px;
        height: 80px;
        width: 100px;
        background: #6B6054;
        border-radius: 100%;

    }

    /* end of banner section */
    /* start of nav section */
    #wrapper {
        display: inline-flex;
        flex-wrap: wrap;
        order: 3;
    }

    nav {
        font-family: calibri-light, helvetica, sans-serif;
        font-style: normal;
        text-decoration: none;
        font-size: 1.3em;
        order: 2;
        position: absolute;
        left: 0;
        top: 15%;
        width: 10%;
        height: 15%;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        border-top-style: inset;
        background: #F5E0B7;
        color: #474237;
        list-style: none;
        border-bottom-right-radius: 2px;
    }

    nav a:hover {
        color: #F5E0B7;
        background: tan;
        height: fit-content;
        width: 100%;
        text-decoration: none;
    }

    nav a:visited {
        font-style: normal;
        color: black;
        text-decoration: none;
    }

    nav a:link {
        color: black;
        font-style: normal;
        text-decoration: none;

    }

    .navspacing1 {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .navspacing2 {
        position: absolute;
        top: 25%;
        width: 100%;
        right: 0;

    }

    .navspacing3 {
        position: absolute;
        top: 50%;
        width: 100%;
        right: 0;

    }

    .navspacing4 {
        position: absolute;
        top: 75%;
        width: 100%;
        right: 0;
    }

    .wireframe {
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
    }

    /*end of nav section */
    /* Section for main */
    main {
        background: #F5E0B7;
        position: absolute;
        top: 18%;
        left: 13%;
        order: 3;
        width: 66%;
        height: 70%;
    }

    h2 {
        position: absolute;
        background: #C09759;
        order: 2;
        width: 100%;
        top: -5%;
        left: 0;
    }

    h3 {
        position: absolute;
        background: #C09759;
        width: 100%;
        order: 3;
        top: 30%;
        left: 0;
    }

    #abouttext {
        position: absolute;
        margin: 1%;
        top: 5%;
        width: 100%;
        height: 100%;
        font-size: large;
    }

    #facilitiestext1 {
        text-align: left;
        margin: 1%;
        position: absolute;
        top: 40%;
        width: 100%;
        height: 100%;
        font-size: large;

    }

    #facilitiestext2 {
        text-align: left;
        margin: 1%;
        position: absolute;
        top: 56%;
        width: 100%;
        height: 100%;
        font-size: large;

    }

    /* end of main section */
    /* Section for News Feed */
    h4 {
        color: black;
    }

    #newsfeed {
        background: #F5E0B7;
        position: absolute;
        right: 0;
        top: 15%;
        color: black;
        order: 4;
        overflow: scroll;
        border-bottom-left-radius: 2px;
        border-top-style: inset;

    }

    /* end of news feed section */
    /* gallery section */
    #galleryheader {
        position: absolute;
        background: #C09759;
        top: -5%;
        width: 100%;
        left: 0;
    }

    #gallery {
        font-size: 1.5em;
        display: inline-flex;
        flex-direction: row;
        position: absolute;
        width: 100%;
        top: 90%;
        left: 0;
        height: fit-content;
    }

    .galleryimage {
        position: relative;
        top: 7%;
        height: 200px;
        width: 400px;
        order: 5;
        left: 2%;
        border-style: solid;
        color: #6B6054;
    }

    /* end of gallery section */
    footer {
        position: absolute;
        color: #F5E0B7;
        top: 130%;
        right: 0;
        background: #474237;
        border-style: none;
        height: fit-content;
        width: 100%;
    }

    #index {
        color: #F5E0B7;
        font-style: oblique;
    }

    #form {
        text-align: left;
        margin-left: 10px;
    }

    #findoutmoredetails {
        text-align: center;
        margin-right: 10px;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    #findoutmoreimage1 {
        position: absolute;
        top: 20%;
        height: 250px;
        width: 400px;
        border-style: solid;
        color: #6B6054;
    }
}

@media only screen and (max-device-height: 360px), (max-device-width: 640px) {

    body {
        width: 80%;
    }
    .teapot {
        visibility: hidden;
    }

    h1 {
        position: absolute;
        top: -50%;
        right: 0;
        width: 100%;
        height: 0;
    }

    #banner {
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
    }
    nav {
        display: flex;
        flex-direction: row;
        top: 40px;
        width: 100%;
        height: 4%;
        left: 0;
    }

    nav a:hover {
        width: fit-content;
    }

    nav a:visited {
        color: black;
    }
    .navspacing1 {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50px;
        left: 2px;
    }

    .navspacing2 {
        position: absolute;
        top: 0;
        height: 100%;
        width: 90px;
        left: 70px;

    }

    .navspacing3 {
        position: absolute;
        top: 0;
        width: 150px;
        left: 170px;

    }

    .navspacing4 {
        position: absolute;
        top: 0;
        width: 50px;
        right: 20px;
    }

    .wireframe {
        top: 24px;
        width: 50px;
        right: 46px;

    }

    #wrapper {
        width: 100%;
    }

    h2 {
        width: 100%;
        top: -20px;
    }
    main {

        background: #F5E0B7;
        position: absolute;
        top: 90px;
        left: 0;
        order: 3;
        width: 100%;
        height: 100%;
    }

    #abouttext {
        margin: 0;
        width: 100%;
    }

    h3 {
        width: 100%;
        top: 24%;
    }

    #facilitiestext1 {
        margin-left: 15px;
        width: 90%;
        height: 90%;
        top: 30%;
    }

    #facilitiestext2 {
        margin-left: 15px;
        width: 90%;
        height: 120%;
        top: 55%;
    }

    #newsfeed {
        order: 4;
        position: absolute;
        width: 100%;
        top: 110%;
        left: 0;

    }

    #gallery {
        overflow-x: hidden;
        top: 161%;
        order: 3;
        width: 100%;
    }

    .galleryimage {
        left: 0;
        height: 20%;

    }

    footer {
        width: 100%;
        top: 182%;
        height: fit-content;
    }

    #findoutmoredetails {
        display: none;
    }

    #findoutmoreimage1 {
        display: none;
    }

}
